%h1 Login

=form_tag sessions_path, :method => 'post' do
  =label :session, :email, 'E-Mail'
  =text_field :session, 'email', :class => 'input'
  =label :session, :password, 'Password'
  =password_field :session,'password', :class => 'input'
  %br
  %br
  =submit_tag ' Login to my account', :class => 'buttongreen'
  
%p.signup= link_to 'Sign-up for an account', signup_path