html, body {
  margin: 0;
  padding: 0;
  background: #444444;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}
div#main {
  background: WhiteSmoke;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}
a {
  background: transparent;
  color: gold;
  text-decoration: underline;
  font-weight: bold;
}
h1 {
  color: black;
  font-size: 150%;
  display: block;
  width: 100%;
  border-bottom: 1px solid DarkSlateGrey;
}
h2 {
  color: black;
  font-size: 100%;
  display: block;
  width: 100%;
  text-align: center;
}
h1.title {
  margin: 0 0 1em;
  text-align: center;
  padding: 10px;
  background-color: gold;
  color: #222222;
  border-bottom: 4px solid black;
  font-size: 2em;
  font-style: normal;
}
table#buildings {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#buildings th {
  border: 2px solid white;
  font-weight: bold;
  background-color: gold;
}
table#building th, table#buildings td {
  padding: 4px;
  text-align: left;
}

table#apartments {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#apartments th {
  border: 2px solid white;
  font-weight: bold;
  background-color: gold;
}
table#apartment th, table#apartments td {
  padding: 4px;
  text-align: left;
}

table#reviews {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#reviews th {
  border: 2px solid white;
  font-weight: bold;
  background-color: gold;
}
table#reviews th, table#reviews td {
  padding: 4px;
  text-align: left;
}

#notice #warning {
  background: red;
  margin: 1em 0;
  padding: 4px;
}

form{
  text-align: center;
}

form label {
  text-align: center;
  display: block;
  line-height: 25px;
  color: black;
}

.input {
  border-radius: 5px;
  width: 200px;
}

.buttongreen {
  width: 200px;
  height: 40px;
  display: block;
  margin: 0 auto;
  text-align: center;
  background: #98FB98;
  border-radius: 5px;
  font-weight: bold;
}

.buttongreen:hover{
  background: #87EA87;
}

.buttonblue {
  width: 200px;
  height: 40px;
  display: block;
  margin: 0 auto;
  text-align: center;
  background: #66CCFF;
  border-radius: 5px;
  font-weight: bold;
}

.buttonblue:hover{
  background: #6699FF;
}

.buttonred {
  width: 200px;
  height: 40px;
  display: block;
  margin: 0 auto;
  text-align: center;
  background: #FF0000;
  border-radius: 5px;
  font-weight: bold;
}

.buttonred:hover{
  background: #FF0000;
}
