%h1 Add a New Apartment

= form_tag building_apartments_path do

  =label :apartment, :apartment_number, 'Apartment Number'
  =text_field :apartment, 'apartment_number', :class => 'input'
  %br
  %br
  =label :apartment, :bedrooms, 'Bedrooms'
  =text_field :apartment, 'bedrooms', :class => 'input'
  %br
  %br
  =label :apartment, :bathrooms, 'Bathrooms'
  =text_field :apartment, 'bathrooms', :class => 'input'
  %br
  %br
  =label :apartment, :rent, 'Rent'
  =text_field :apartment, 'rent', :class => 'input'
  %br
  %br

    
  = label :apartment, :monthly_util, 'Average Monthly Utilities'
  =text_field :apartment, 'monthly_util', :class => 'input'
  %br
  %br
  =label :apartment, :balcony, 'Balcony'
  =check_box :apartment, 'balcony'
  %br
  %br
  =label :apartment, :central_air, 'Central Air'
  =check_box :apartment, 'central_air'
  %br
  %br
  
  =submit_tag 'Add Apartment', :class => 'buttongreen'