%h2 Details about Apartment Number


%ul#details
  %li
    Number of Bedrooms:
  %li
    Number of Bathrooms:
  %li
    Rent Cost:
   


%h3 Pictures:



%br

%br
%br
= link_to 'Edit This Apartment', edit_building_apartment_path(1, 6)
%br
= button_to 'Delete', building_apartment_path(1,6), :method => :delete, :confirm => 'Are you sure?'
%br

