-# in app/views/users/show.html.haml

%h2 Profile for #{@user.name}


%ul#details
    Name:
    = @user.name
    %br
    E-mail:
    = @user.email
    
%br
= link_to 'Edit User', edit_user_path(@user)
%br